/* Layout */
.place-order{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 100px;
    flex-wrap: wrap;
}

/* ===================== */
/* LEFT SIDE (FORM)      */
/* ===================== */

.place-order-left{
    width: 100%;
    max-width: max(30%, 500px);

    padding: 30px;

    border-radius: 20px;

    /* GLASS EFFECT */
    background: rgb(247, 242, 242);
    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    border: 1px solid rgba(255, 255, 255, 0.2);

    box-shadow: 0 8px 32px rgba(0,0,0,0.25);

    color: rgb(17, 17, 17);
}

.place-order-left .title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 40px;
}

/* Glass Inputs */
.place-order-left input{
    margin-bottom: 15px;
    width: 100%;

    padding: 12px 15px;

    border-radius: 50px;

    border: 1px solid rgba(163, 133, 133, 0.3);

    background: rgba(175, 149, 149, 0.329);

    backdrop-filter: blur(10px);

    color: rgb(19, 18, 18);

    outline: none;

    transition: 0.3s;
}

.place-order-left input::placeholder{
    color: rgba(122, 115, 115, 0.966);
}

.place-order-left input:focus{
    background: rgba(190, 19, 19, 0.18);
    border: 1px solid rgba(105, 69, 69, 0.5);
}

/* Multi fields */
.place-order-left .multi-fields{
    display: flex;
    gap: 10px;
}

/* ===================== */
/* RIGHT SIDE (SUMMARY)  */
/* ===================== */

.place-order-right{
    width: 100%;
    max-width: max(40%, 500px);
    margin-top: 60px;
    

    padding: 30px;

    border-radius: 20px;

   
}

/* Button (if inside cart-total) */
.place-order .cart-total button{
    margin-top: 30px;

    background: rgb(107, 103, 103);
    border: 1px solid rgba(255,255,255,0.3);

    border-radius: 50px;

    padding: 12px 0;

    color: rgb(245, 240, 240);

    cursor: pointer;

    transition: 0.3s;
}

.place-order .cart-total button:hover{
    background: rgba(46, 38, 38, 0.35);
    transform: translateY(-3px);
}

/* Responsive */
@media (max-width: 900px){
    .place-order{
        flex-direction: column;
        gap: 40px;
    }

    .place-order-right{
        margin-top: 0;
    }
}

/*choose the cafe option */

.choose-cafe{
    width: 260px;
    padding: 20px;
    border-radius: 15px;
    

    margin-top: 20px; /* Proceed to payment के नीचे space */

    /* Glass effect */
    background: rgba(255,255,255,0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    border: 1px solid rgba(255,255,255,0.3);
    box-shadow: 0 8px 32px rgba(0,0,0,0.2);
}

.choose-cafe p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.choose-cafe hr{
    border: none;
    height: 1px;
    background: rgba(255,255,255,0.3);
    margin-bottom: 15px;
}

.choose-cafe select{
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    outline: none;
}