.verify{
    min-height:60vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

/* glass container */
.verify .spinner{
    width:120px;
    height:120px;
    border-radius:50%;
    display:flex;
    justify-content:center;
    align-items:center;

    background: rgba(255,255,255,0.08);
    backdrop-filter: blur(12px);
    box-shadow: 0 8px 40px rgba(0,0,0,0.25);
}

/* rotating ring */
.verify .spinner::before{
    content:"";
    width:80px;
    height:80px;
    border-radius:50%;

    border:5px solid rgba(255,255,255,0.25);
    border-top:5px solid tomato;

    animation: appleSpin 1s linear infinite;
}

/* glow effect */
.verify .spinner::after{
    content:"";
    position:absolute;
    width:80px;
    height:80px;
    border-radius:50%;
    box-shadow:0 0 20px rgb(248, 157, 104);
}

@keyframes appleSpin{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}